// Fuentes //
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Open+Sans&display=swap');
// Alegreya Sans Light 300 //
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Open+Sans&family=Overlock&display=swap');
// Overlock regular 400 //
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
// Cursiva Dancing Script //

// Formateo general //
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

// Fin Formateo general //


@import 'components/header';

@import 'components/h2';

@import 'components/banner';

@import 'components/sobremi';

@import 'components/servicios';

@import 'components/testimonios';

@import 'components/contacto';

@import 'components/footer';

@import 'components/turnos';

@import 'components/tnx';

.disclaimer {
    display: none;
}