/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Open+Sans&display=swap');  /* Alegreya Sans Light 300 */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Open+Sans&family=Overlock&display=swap'); /*Overlock regular 400  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');/* Cursiva Dancing Script */

/* Formateo general */
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html {
    scroll-behavior: smooth;
}
/* Fin Formateo general */


/* Header */
header {
    background-color: #DCEBD7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.menu-container a{
    padding: 10px;
    margin: 0px 30px;
    font-size: 24px;
    color: #515151;
    font-family: 'Overlock', cursive;
}

.menu-container ul {
    background-color: #C5DDBD;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 5px;
}
/* Fin header */


/* Main */
/* Formateo general para titulos H2 */
h2{
    text-align: center;
    margin: 20px 0;
    background-color: #C5DDBD;
    padding: 8px 0;
    font-family: 'Overlock', cursive;
    font-size: 38px;
    color: #515151;
}

@media screen and (max-width: 991px) {
    h2 {
        font-size: 1rem;
        padding: 2px 0;
    }
}
/* Fin Formateo general para titulos H2 */

/* Banner */
.banner-container {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    padding-top: 67px;
}

.banner-container img{
    width: 100%;
}

.banner-container .titulo {
    position: absolute;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    background: rgba( 247, 191, 188, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 5px;
}

@media screen and (max-width: 991px) {
    .banner-container .titulo {
        font-size: 10px;
    }
}
/* Fin Banner */

/* Sobre mí */
.sobremi-container-inferior {
    display: grid;
    justify-items: center;
}

.sobremi-container .sobremi {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 15px;
    width: 80%;
}

.sobremi-container img {
    width: 100%;
    border-radius: 100%;
}

.sobremi-container p {
    font-size: 25px;
    font-family: 'Overlock', cursive;
    color: #515151;
}

@media screen and (max-width: 991px) {
    .sobremi-container .sobremi{
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        gap: 1rem;
        padding-bottom: 4rem;
    }

    .sobremi-container img {
        width: 100%;
        margin: auto;
    }

    .sobremi-container p {
        font-size: 1rem;
        
    }
}
/* Fin Sobre mí */

/* Servicios pantalla PC */
.servicios-container-inferior {
    display: grid;
    justify-items: center;
}

.servicios-container .servicios {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    gap: 95px;
    align-items: center;
}

.servicios-container img {
    width: 100%;
    border-radius: 5%;
}

.servicios-container p {
    font-size: 35px;
    font-family: 'Overlock', cursive;
    color: #515151;
}

.servicios-container h3 {
    font-size: 45px;
    margin-bottom: 40px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #515151;
}

.servicios-container .servicios-descripcion {
    display: grid;
    justify-items: center;
}

.servicios-container-celular {
    display: none;
}
/* Fin servicios pantalla PC */

/* Servicios pantalla celular */
@media screen and (max-width: 991px) {

    .servicios-container{
        display: none;
    }

    .servicios-container-celular{
        display: grid;
    }

    .servicios-container-celular .servicios-container-inferior {
        display: grid;
        justify-items: center;
    }

    .servicios-container-celular .servicios {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 0;
        width: 50%;
        align-items: center;
    }

    .servicios-container-celular h3 {
        font-size: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: 'Alegreya Sans', sans-serif;
        color: #515151;
    }

    .servicios-container-celular p {
        font-size: 1rem;
        font-family: 'Overlock', cursive;
        color: #515151;
        padding-bottom: 5rem;
    }

    .servicios-container-celular img {
        width: 100%;
        border-radius: 5%;
    }

    .servicios-container-celular .servicios-descripcion {
        display: grid;
        justify-items: center;
    }
}
/* Servicios pantalla celular */

/* Testimonios */
.carrusel-container {
    display: flex;
    justify-content: center;
    padding: 6rem 0;
}

.carrusel-celular{
    display: none;
}

@media screen and (max-width: 991px) {
    .carrusel-pc{
        display: none;
    }

    .carrusel-celular {
        display: block;
    }

    .carrusel-container {
        padding: 0;
    }

}
/* Fin Testimonios */

/* Contacto */
.contacto-container .contacto .myp {
    width: 80%;
    display: flex;
}

.contacto-container .contacto {
    display: flex;
    justify-content: center;
}

.contacto-container iframe {
    width: 50%;
    margin-right: 10px;
}

.contacto-container p{
    width: 50%;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Overlock', cursive;
    color: #515151;
    padding: 4rem 0;
}

@media screen and (max-width: 991px) {
    .contacto-container .myp {
        flex-direction: column;
        padding-top: 1rem;
    }

    .contacto-container iframe {
        width: 100%;
    }

    .contacto-container iframe {
        height: 20rem;
    }

    .contacto-container p {
        width: 100%;
        text-align: center;
    }
}

/* Fin Contacto */

/* Footer */
.footer-container {
    display: flex;
    justify-content: center;
    background-color: #AED0A3;
    padding: 15px 0;
    margin-top: 20px;
}

.footer-container ul {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.footer-container i{
    font-size: 36px;
    color: #3c3c3c;
    padding: 25%;
    border-radius: 100%;
    background-color: #F7BFBC;
}
/* Fin Footer */

/* Turnos */
.seccion-turnos {
    padding-top: 80px;
}
.seccion-turnos h1 {
    text-align: center;
    margin: 20px 0;
    background-color: #C5DDBD;
    padding: 8px 0;
    font-family: 'Overlock', cursive;
    font-size: 38px;
    color: #515151;
}

.turnos-container {
    display: grid;
    justify-items: center;
}

.turnos-container .turnos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    align-items: center;
    gap: 40px;
}

.turnos-container .turnos img {
    width: 100%;
}

.turnos-container p{
    font-size: 35px;
    font-family: 'Overlock', cursive;
    color: #515151;
}
/* Fin Turnos */