@import '../base/listas';

.sobremi-container-inferior {
    display: grid;
    justify-items: center;

    .sobremi {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;
        align-items: center;
        gap: 15px;
        width: 80%;

        img {
            width: 100%;
            border-radius: 100%;
        }

        p {
            font-size: nth($parrafos, 2);
            font-family: 'Overlock', cursive;
            color: nth($colores-texto, 1);
        }
    }
}



@media screen and (max-width: 991px) {
    .sobremi-container .sobremi {
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        gap: 1rem;
        grid-template-rows: repeat(2, auto);
        padding-bottom: 4rem;

        img {
            width: 100%;
            margin: auto;
        }

        p {
            font-size: nth($parrafos, 1);
        }
    }
}

@media screen and (min-device-width: 500px) and (max-device-width: 991px) {
    .sobremi-container .sobremi {
        p {
            font-size: nth($parrafos, 3);
        }
    }
}