@import '../base/listas';
@import '../base/extends';

.seccion-turnos {
    padding: 120px 0;

    .formulario-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 65%;
            border-radius: 50%;
        }

        .img-turnos {
            display: flex;
            justify-content: center;
            width: 50%;
        }

        .form-box {
            width: 50%;

            p,
            h1 {
                text-align: center;
                padding-left: 145px;
            }

            h1 {
                color: nth($colores, 4);
                font-size: nth($encabezados, 4);
                font-family: 'Overlock', cursive;
                font-weight: 700;
            }

            p {
                color: nth($colores, 3);
                font-size: nth($parrafos, 2);
                font-family: 'Overlock', cursive;
            }

            button {
                margin-right: 14px;
                background-color: nth($colores, 4);
                color: nth($colores-texto, 2);
                border-color: grey;
                margin-top: 10px;

            }

            .caja-form {
                width: 98.5%;
            }
        }
    }
}

.seccion-turnos-celular {
    display: none;
}

@media screen and (max-width: 991px) {
    .seccion-turnos {
        display: none;
    }

    .seccion-turnos-celular {
        display: flex;
        padding-top: 120px;

        .form-titulo {
            display: flex;
            flex-direction: column;
            text-align: center;

            h1 {
                color: nth($colores, 4);
                font-size: nth($encabezados, 4);
                font-family: 'Overlock', cursive;
                font-weight: 700;
            }

            p {
                color: nth($colores, 3);
                font-size: nth($parrafos, 2);
                font-family: 'Overlock', cursive;
            }
        }

        .form-container {
            display: flex;
            justify-content: center;

            .formulario {
                display: flex;
                justify-content: center;
                width: 80%;

                .caja-form {
                    width: 98.2%;
                    margin-top: -6px;
                    margin-left: -1px;
                }

                button {
                    margin-right: 8px;
                    background-color: nth($colores, 4);
                    color: nth($colores-texto, 2);
                    border-color: grey;
                    margin-top: 10px;
                } 
            }
        }
        .img-turnos {
            display: flex;
            justify-content: center;

            img {
                width: 80%;
                border-radius: 50%;
            }
        }
    }
}